:root {
    --text-color: #292929;
    --background-color: #FFFFFF;
    --background-secondary-color: #F5F3EF;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding : 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s font-weight;
}

a:hover {
    font-weight: 600;
}

.tt-logo {
    display: inline-block;
}

.tt-logo-wrapper {
    display: block;
    padding: 15px 30px;
}

.tt-navbar {
    width: 100%;
    background-color: var(--background-secondary-color);
}

.tt-navbar > .tt-container {
    display: flex;
}

.tt-menu {
    display: flex;
    justify-content: space-between;

    flex: 1;
    width: 100%;
    padding: 0px 30px;
}

.tt-menu-section {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tt-menu-item {
    display: block;
    line-height: 1;
    padding: 32px 16px;
}

.tt-main {
    flex: 1;
}

.tt-container {
    width: 100%;
    max-width: 1080px;
    padding: 0px 32px;
    margin: auto;
}